.buttons-alec{
    display: flex;
    justify-content: center;
}

.buttons-alec div{
    padding: 200px;
    background: orange;
    margin: 20px;
    box-shadow: 5px 10px #888888;
    font-size: 200%;
    transition: all 1s ease;
    box-sizing: border-box;
}

.buttons-alec div:hover{
    box-shadow: 2px 5px #888888;
    cursor: pointer;
    font-size: 300%;
}