<section *ngIf="step === 1" class="buttons-alec">
    <div>
        <button (click)="Trip.housing='Hotel'; nextStep()" >Hotel</button>
    </div>
    <div>
        <button (click)="Trip.housing='airbnb'; nextStep()" >AirBnB</button>
    </div>
</section>


<section *ngIf="step === 2" class="buttons-alec">
    <div>
        <button (click)="Trip.transport='Car'; nextStep()" >Rental Car</button>
    </div>
    <div>
        <button (click)="Trip.transport='Other'; nextStep()" >Other</button>
    </div>
</section>

<section *ngIf="step === 3" class="buttons-alec">
    <div>
        <button (click)="Trip.hours='Night'; nextStep()" >House</button>
    </div>
    <div>
        <button (click)="Trip.hours='Day'; nextStep()" >House</button>
    </div>
</section>

<section *ngIf="step === 4" class="buttons-alec">
    <div>
        <button (click)="Trip.food='Local'; nextStep()" >Local food</button>
      </div>
      <div>
        <button (click)="Trip.food='myFood'; nextStep()" >My food</button>
    </div>
</section>

<section *ngIf="step === 5" class="buttons-alec">
      <div>
        <button (click)="submitTrip()" >My food</button>
    </div>
</section>
